<div class="container d-flex justify-content-center">
  <div class="w-50">
    <% @events.each do |event| %>
      <div class="card pb-0">
        <div class="card-body pb-0 text-dark">
          <h5 class="card-title">Event: <%= event.name %></h5>
          <p class="card-text">Location: <%= event.location %><p>
          <p class="card-text">Date: <%= event.date %><p>
          <%= link_to event.user.username, user_path(event.user), class: 'badge badge-light' %>
        </div>
      </div>
    <% end %>
    </div>
  </div>